name = "yt-auto-screenshot"
main = "src/index.js"
compatibility_date = "2024-01-01"

# 关键：添加这一行来解决 node:buffer 的报错
compatibility_flags = [ "nodejs_compat" ]

[browser]
binding = "BROWSER"

[[r2_buckets]]
binding = "MY_BUCKET"
bucket_name = "yt-screenshots"

[triggers]
crons = ["*/30 * * * *"]
